---
title: pdfgrep - News
header: News
---
<!-- <div class="column is-8"> -->
$for(news)$
<div class="card article">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
	<h2><a href="$url$" class="title is-3">$title$</a></h2>
	<div class="article-header subtitle is-6">by $author$ on $date$</div>
      </div>
    </div>
    <div class="content">
      $body$
    </div>
  </div>
</div>
$endfor$
<!-- </div> -->
