<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">$header$</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    $body$
  </div>
</section>
